{% extends 'base.html' %}
{% block title %}
Series
{% endblock title %}
{% block seriesactive %}
active
{% endblock seriesactive %}
{% block css%}
<!-- CSS only -->

<style>
    .co {
        margin: auto;
        max-width: 1100px;
    }

    .card-body {
        background: #022140;
    }

    .row {
        margin-top: 20px;
    }

    .person-image {
        height: 200px;
    }

    .dive {
        margin-top: 20px;
        max-width: 25%;
        max-height: 25;
    }

    .dive1 {
        align-item: center;
    }

    .ll {

        width: 250px;
        height: 350px;

    }
</style>
{% endblock css%}

{% block body %}
<div class="co">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-white text-center">Available courses</h2>
        </div>

        {% for serie in series %}

        <div class="col-md-3 mt-4 ">
            <div class="card mb-4 shadow-sm  shadow
            d-flex
            justify-conent-center
            align-items-center p-3 bg-dark rounded-lg 
            flex-column
            ll
            ">
                <img class="bd-placeholder-img card-img-top rounded-circle" width="215" height="215" src={{serie.image}}
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                    aria-label="Placeholder: Thumbnail">
                </img>
                <div class="person-name my-1">
                    <h3 class="text-white">{{serie.name}}</h3>
                </div>
                <div class="btn-group ">
                    <a href="series/{{serie.id}}">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View courses</button>

                    </a>



                    <button type="button" class="btn btn-sm " onclick="handlelikes({{serie.id}})" id="fav">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span class="badge badge-light">{{serie.likes}}</span>
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>


    {% endblock body %}
    {% block js %}
    <script>

        const getlikes = [];
        const val = true
        const likes = [];
        const fav = document.getElementById('fav');

        function handlelikes(id) {
            likes.push(id);
            localStorage.setItem('likes', JSON.stringify(likes))



        }
    </script>
    {% endblock js %}