{% extends 'base.html' %}
{% block title %}
Series
{% endblock title %}
{% block seriesactive %}
active
{% endblock seriesactive %}
{% block css%}
<!-- CSS only -->

<style>
    .co {
        margin: auto;
        max-width: 1100px;
    }

    .card-body {
        background: #022140;
    }

    .row {
        margin-top: 20px;
    }

    .person-image {
        height: 200px;
    }

    .dive {
        margin-top: 20px;
        max-width: 25%;
        max-height: 25;
    }

    .dive1 {
        align-item: center;
    }

    .ll {

        width: 250px;
        height: 350px;

    }

    .logo {
        transition: all ease 0.5s;
    }

    .logo:hover {
        transform: scale(1.0)
    }

    #myBtn {
        position: absolute;
        top: 70px;
        left: 20px;
        margin-left: 90%;
        margin-top: .25%;


    }
    @media screen and (max-width: 600px) {

}
.notice{
    position: relative;
}

.anima {
        position: absolute;
        top: 29%;
        left:375px;
        
        display: flex;
      }
      .anima li {
        list-style: none;
        width: 40px;
        height: 40px;
        background: #fff;
        border-radius: 50%;
  
        animation: animate 1.7s ease-in-out infinite;
      }
      @keyframes animate {
        0%,
        40%,
        100% {
          transform: scale(0.2);
        }
        20% {
          transform: scale(1);
        }
      }
  
      .anima .anima1:nth-child(1) {
        animation-delay: -1.2s;
        background: yellow;
        box-shadow: 0 0 50px yellow;
      }
      .anima .anima1:nth-child(2) {
        animation-delay: -1s;
        background: rgb(99, 247, 136);
        box-shadow: 0 0 50px rgb(99, 247, 136);
      }
      .anima .anima1:nth-child(3) {
        animation-delay: -0.8s;
        background: rgb(30, 243, 225);
        box-shadow: 0 0 50px  rgb(30, 243, 225);
      }
      .anima .anima1:nth-child(4) {
        animation-delay: -0.6s;
        background: rgb(241, 58, 58);
        box-shadow: 0 0 50px rgb(241, 58, 58);
      }
      .anima .anima1:nth-child(5) {
        animation-delay: -0.4s;
        background: rgb(247, 61, 176);
        box-shadow: 0 0 50px  rgb(247, 61, 176);
      }
</style>
{% endblock css%}

{% block body %}



<button id="myBtn" class="btn text-white lis btn btn-success">Notice Board</button>
<div id="myModal" class="modal">
    <div class="modal-content card bg-secondary text-white notice">
        <span class="close">&times;</span>
        <h2 style="color:#022140; margin-left:200px;"><strong>Notice Board</strong></h2>
        <ul class="anima">
            <li class="anima1"></li>
            <li class="anima1"></li>
            <li class="anima1"></li>
            <li class="anima1"></li>
            <li class="anima1"></li>
        
        </ul>
        
        {%for i in note%}
        <p  style="font-size:20px;">{{i.notice}}</p>
        
        
        {%endfor%}
    </div>
</div>




<div class="co">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-white text-center">Available courses</h2>

        </div>

        {% for serie in series %}

        <div class="col-md-3 mt-4 allCards col-sm-6 col-xs-12 logo">
            <div class="card mb-4 shadow-sm  shadow
            d-flex
            justify-conent-center
            align-items-center p-3 bg-dark rounded-lg 
            flex-column
            ll
            ">
                <img class="bd-placeholder-img card-img-top rounded-circle" width="215" height="215" src={{serie.image}}
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                    aria-label="Placeholder: Thumbnail">
                </img>
                <div class="person-name my-1">
                    <h3 class="text-white">{{serie.name}}</h3>
                </div>
                <div class="btn-group ">
                    <a href="series/{{serie.id}}">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View courses</button>

                    </a>



                    <button type="button" class="btn btn-sm" name="{{serie.id}}" onclick="handlelikes({{serie.id}})"
                        id="fav">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span class="badge badge-light">{{serie.likes}}</span>
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock body %}
{% block js %}
<script>
    const likes = [];
    const allCards = document.querySelectorAll('.allCards')

    review()

    function review() {
        const ids = document.querySelectorAll("#fav")
        const tId = []
        for (let i = 0; i < ids.length; i++) {
            tId.push(+ids[i].name)
        }

        const data = JSON.parse(localStorage.getItem('likes'));


        data.map(d => {
            if (data.includes(+ids[tId.indexOf(d)].name)) {
                ids[tId.indexOf(d)].classList.add('text-danger')

            }
        })


    }

    function handlelikes(id) {
        if ((localStorage.getItem("likes") == null)) {
            likes.push(id)
            localStorage.setItem('likes', JSON.stringify(likes))
        }
        else {
            var abc = JSON.parse(localStorage.getItem('likes'))
            if (likes.length == 0) {
                likes.push(...abc)
            }
            if (!(abc.includes(id) || likes.includes(id))) {
                likes.push(id)
                localStorage.setItem('likes', JSON.stringify(likes))
            }
            else {

                likes.splice(likes.indexOf(id), 1)
                localStorage.setItem('likes', JSON.stringify(likes))

            }
        }

        review()
        window.location.reload()
    }

    //modal 
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function () {
        modal.style.display = "block";
    }
    span.onclick = function () {
        modal.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
{% endblock js %}